@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: "font", sans-serif;
	--font-mono: "monospace", monospace;
}

/* HeroUI theme overrides */
:root {
	--accent: #668600;
	--background: #F5F1E8;
	--foreground: #286A2B;
	--warning: #F8BFA8;
}